div {
  font-size: 30px;
}

.container {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

h1 {
  text-align: center;
}

#city {
  padding-bottom: 15px;
}

img#icon {
  width: 150px;
  height: 150px
}

.result {
  display: block;
  text-align: left;
  padding-left: 170px;
}
